<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple dark-3" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">
      <img src="https://ecs7.tokopedia.net/blog-tokopedia-com/uploads/2015/08/tokopedia.png" alt="" height="80" width="120" class="img-fluid">
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
      </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <form class="form-inline">
          <input mdbInput type="text" class="form-control mb-2 mr-sm-2" placeholder="Search . . .">
          <button type="submit" class="btn btn-primary btn-md mt-0" size="sm">
              <i class="fas fa-search"></i> Search
          </button>
      </form>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fas fa-shopping-cart"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fas fa-bell"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fas fa-truck"></i></a>
      </li>

      <li class="nav-item avatar dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" height="20" width="20" class="img-fluid rounded-circle z-depth-0"> Ragil Pratama</a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">
              <a class="nav-link" style="color: black"><i class="fas fa-user"></i> My Account</a>
          </a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">
            <a class="nav-link" style="color: black"><i class="fas fa-bell"></i> Log out</a>
          </a>
        </div>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->